<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <!--1、选择一个-->
<!--  <select name="abc" id="" v-model="fruit">-->
<!--    <option value="苹果">苹果</option>-->
<!--    <option value="香蕉">香蕉</option>-->
<!--    <option value="橘子">橘子</option>-->
<!--    <option value="柠檬">柠檬</option>-->
<!--    <option value="菠萝">菠萝</option>-->
<!--  </select>-->
<!--  <h2>{{fruit}}</h2>-->

  <!--2、选择多个-->
  <select name="abc" v-model="fruits" multiple>
    <option value="苹果">苹果</option>
    <option value="香蕉">香蕉</option>
    <option value="橘子">橘子</option>
    <option value="柠檬">柠檬</option>
    <option value="菠萝">菠萝</option>
  </select>
  <h2>{{fruits}}</h2>
</div>
<script src="../../../../Day%2002/code/Vuejs02/js/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      message: '你好啊',
      fruit: '香蕉', //单选框
      fruits: [], //多选框
    }
  })
</script>
</body>
</html>